body {
    font-family: Arial, sans-serif;
    background-color: #8bf7ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#product-form {
    background-color: #37d4fc;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 500px;
}

#product-form .form-group {
    margin-bottom: 20px;
}

#product-form label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

#product-form input,
#product-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #555;
    background-color: #fefefe;
}

#product-form textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#product-form .submit-button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #04c551;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#product-form .submit-button:hover {
    background-color: #0056b3;
}

#product-form input[type="file"] {
    padding: 5px;
}

#product-form textarea {
    resize: none;
}


